:root {
  --container-width: 1470px;
  --container-padding: 15px;

  --font-main: Montserrat, Arial, sans-serif;

  --bg-color: #f3ecec;
  --light-color: #fff;
  --bg-header-color: #329ade;

  --transition: all .4s ease-in-out;
}